.ProductDescriprionBlock {
    position: absolute;
    top: 700px;
    font-size: 18px;
}

.ProductDescriprionBlock h1 {
    margin: 15px 0px;
    font-size: 30px;
}

.productDescriprionInvalid {
    color: red;
}

.productDescriprionInput {
    position: fixed;
    left: 150px;
}

.productDescriprionInvalid {
    position: fixed;
    left: 320px;
}