.ShopFrame {
    display: grid;
    justify-content: center;
}

.ShopRow {
    width: 100vh;
    display: grid;
    grid-template-columns: 7% 17% 17% 27% 17% 15%;
}

.ShopHeaderCell {
    height: 40px;
    font-weight: bold;
}

.ShopWelcome {
    text-align: center;
    font-weight: bold;
    word-spacing: 0.3em;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}