.ShopFrame {
    display: grid;
    justify-content: center;
    max-height: 600px;
    overflow: auto;
}

.ShopRow {
    width: 100vh;
    display: grid;
    grid-template-columns: 6% 17% 17% 22% 17% 13% 8%;
}

.shopHeaderRow {
    grid-template-columns: 6% 17% 17% 22% 17% 21%
}

.ShopHeaderCell {
    height: 40px;
    font-weight: bold;
}

.ShopWelcome {
    text-align: center;
    font-weight: bold;
    word-spacing: 0.3em;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}