.EventCalendarWrapper {
    z-index: 10;
}

.EventCalendarWrapper .react-calendar {
    background: white;
    line-height: 2em;
    text-align: center;
}

.react-calendar__navigation {
    display: flex;
}

.EventCalendarWrapper .react-calendar button {
    border: none;
    outline: none;
    font-size: 1.3rem;
}

.EventCalendarWrapper .react-calendar__month-view__weekdays__weekday abbr {
    text-decoration: none;
}

.EventCalendarWrapper .react-calendar__month-view__days__day--neighboringMonth {
    color: #c1c7c3;
}

.EventCalendarWrapper .react-calendar__tile--active {
    background: rgb(97, 191, 191);
    color: white;
}

.EventCalendarButtonBox {
    display: flex;

}

.EventCalendarOkButton {
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    height: 40px;
    z-index: 11;
}