.productCell {
    height: 110px;
    border: 1px solid black;
    display: grid;
    align-items: center;
    justify-content: space-around;
}

.productImg img {
    height: 100px;
}

.productSelected {
    background-color: yellow;
}